{% extends "base.html" %}

{% block content %}
<h2>Create YoloCloud® Engine</h2>
<form method="POST" action="/">
	<dl>
		<dt><label for="create_token">Token (optional)</label></dt>
		<dd><input type="text" class="uuid_input" size="36" name="token" id="create_token" /></dd>

		<dt><label for="create_template">Template</label></dt>
		<dd><select name="template" id="create_template">
			<option value="bare">Barebone system (2GB RAM, 1 CPU, 10GB HDD)</option>
			<option value="windows2003">Windows Server 2003</option>
		</select></dd>
	</dl>

	<p>Please keep in mind: Your Engine may expire; the actual expiry date is
	displayed after creation.</p>

	<input type="submit" name="create" value="Create Engine" />
</form>

<p>If you need custom engines, come to the Geheimorganisation assembly,
located in Hall 4, and ask for YoloVPS or YoloCloud.</p>

<h2>Manage YoloCloud® Engine</h2>
<p>Enter your engine UUID to manage your YoloCloud Engine.</p>

<form method="GET" action="/" id="manage" >
	<input type="text" class="uuid_input" size="36" name="uuid" id="manage_uuid" />
	<input type="submit" name="manage" value="Continue to Management interface" />
</form>
{% endblock %}
