{% extends "base.html" %}

{% block content %}
<h2>Engine information</h2>

<dl>
	<dt>UUID</dt>
	<dd><code>{{ vm.uuid }}</code><br />
	Keep this secret!</dd>

	<dt>Engine state</dt>
	<dd>{{ vm_state }}</dd>

	<dt>IP Address</dt>
	<dd>Use IPv6 and ask us for IPv4</dd>

	<dt>Memory (in MiB)</dt>
	<dd>{{vm_desc.memory}} MiB</dd>
	
	<dt>vCPUs</dt>
	<dd>{{vm_desc.vcpus}} vCPU(s)</dd>

	<dt>Expiry date</dt>
	<dd>{% if vm.expires_at %}
	{{ vm.expires_at }}
	{% else %}
	Never
	{% endif %}<br />
	To prevent expiry come to the Geheimorganisation assembly in Hall 4.</dd>

	<dt>Password</dt>
	<dd><code>{{ vm.management_password }}</code></dd>

	{% if vm_host %}
	<dt>Host IP Address</dt>
	<dd>{{ vm_host }}</dd>
	{% endif %}
</dl>

<h2>Remote access</h2>

{% set vm_management_uri = vm_desc.remote_management_uri(vm_host) %}
{% if vm_management_uri %}
<p>Use the following URL to access your VM graphical display:
<pre>{{ vm_management_uri }}</pre>
{% endif %}

<h2>Engine actions</h2>
<form method="POST" action="/{{ vm.uuid }}">
	<label for="action">Action:</label>
	<select name="action" id="action">
		<option value="start">Start</option>
		<option value="reboot">Reboot</option>
		<option value="reset">Reset</option>
		<option value="shutdown">Shutdown</option>
		<option value="force-shutdown">Force shutdown</option>
	</select>
	<input type="submit" name="apply" value="Execute" />
</form>

{% if vm.has_cdrom %}
<h2>Change media</h2>
<form method="POST" action="/{{ vm.uuid }}">
	<dl>
		<dt>CDROM image</dt>
		<dd><select name="image" id="image">
			<option value="">none</option>
			{% for media in medias %}
			<option value="{{ media.name() }}">{{ media.name() }}</option>
			{% endfor %}
		</select></dd>
	</dl>
	<input type="submit" name="apply" value="Change" />
</form>
{% endif %}
{% endblock %}
